<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nuevo Préstamo</title>
</head>

<body>
    <h1>Registrar nuevo préstamo</h1>
    <form th:action="@{/prestamos/guardar}" th:object="${prestamo}" method="post">
        <label>Libro:</label>
        <!-- Libro -->
        <select th:field="*{libro}" required>
            <option th:each="libro : ${libros}" th:value="${libro.id}" th:text="${libro.titulo}">Libro</option>
        </select>

        <!-- Socio -->
        <select th:field="*{socio}" required>
            <option th:each="socio : ${socios}" th:value="${socio.id}" th:text="${socio.nombre}">Socio</option>
        </select>

        <br><br>

        <button type="submit">Guardar préstamo</button>
    </form>
    <br>
    <a th:href="@{/prestamos}">Volver al listado de préstamos</a>
</body>

</html>